src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="scheduled_dataverse-to-snowflake" doc:id="b2752fae-97eb-4594-bcb3-7ae7c5e8d1ba">
        <scheduler doc:name="Scheduler" doc:id="cbb98cb8-00f1-4a0e-ba99-cc6d171aedb2">
            <scheduling-strategy>
                <cron expression="${scheduler.cron.expression}" timeZone="${scheduler.cron.timeZone}" />
            </scheduling-strategy>
        </scheduler>
        <flow-ref doc:name="dataverse-to-snowflake-postFlow" doc:id="8868602c-5a44-4364-b057-8af1a8dc3f0d" name="dataverse-to-snowflake-postFlow" />
    </flow>
    <flow name="papi-tcct-dataverse-to-snowflake-main">
        <http:listener config-ref="HTTPS_Listener_config_standard" path="${apiPath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="papi-tcct-dataverse-to-snowflake-config" />
    </flow>
    <flow name="papi-tcct-dataverse-to-snowflake-console">
        <http:listener config-ref="HTTPS_Listener_config_standard" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="papi-tcct-dataverse-to-snowflake-config" />
    </flow>
    <flow name="post:\mypedidos-to-snowflake:papi-tcct-dataverse-to-snowflake-config">
        <flow-ref doc:name="dataverse-to-snowflake-postFlow" doc:id="caba84f1-fe7c-427d-88b7-575556fe16c0" name="dataverse-to-snowflake-postFlow" />
    </flow>
</mule>
